/.project
/.idea
/.vagrant
/.cache
/.config
/.local
*~
/vendor
/composer.phar
/node_modules
._.DS_Store
/.docker
/yarn-error.log
/build
/yarn
/gulp
.DS_Store
src/SfCQRSDemo/Infrastructure/UI/Public/build
src/SfCQRSDemo/Infrastructure/UI/Public/fonts
var/cache/*
var/log/*
.docker

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
src/SfCQRSDemo/Infrastructure/UI/Public/product_images

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
