<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony - CQRS-ES Demonstration{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

<div class="container">
    <div class="main-wrapper">
        {% block body %}{% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
