<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container">
        <a class="navbar-brand" href="/">SF4 CQRS-ES Demo</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_add_new') }}">{{ 'add_new_product'|trans }}</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>
